.pokemon-type {
  border-radius: 3px;
  margin-right: 3px;
  text-transform: capitalize;
  color: #fff;
  width: 75px;
  height: 35px;
}

.normal-type {
  background: #757575;
}

.steel-type {
  background: #607d8b;
}

.rock-type {
  background: #827717;
}

.fighting-type {
  background: #795548;
}

.grass-type {
  background: #43a047;
}

.bug-type {
  background: #9e9d24;
}

.electric-type {
  background: #ffd600;
}

.ground-type {
  background: #a1887f;
}

.fairy-type {
  background: #ba68c8;
}

.psychic-type {
  background: #e91e63;
}

.fire-type {
  background: #e53935;
}

.ice-type {
  background: #4dd0e1;
}

.water-type {
  background: #2196f3;
}

.flying-type {
  background: #536dfe;
}

.dragon-type {
  background: #651fff;
}

.ghost-type {
  background: #283593;
}

.poison-type {
  background: #6a1b9a;
}
